<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tuinventario">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Tu Inventario"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".Act_Stock" />
        <activity android:name=".Ver_Inventario" />
        <activity android:name=".Perfil" />
        <activity android:name=".Aniadir_Producto" />
        <activity android:name=".Menu" />
        <activity android:name=".Registrarse" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SimpleScannerActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>